* {
    box-sizing: border-box;
    border: 1px solid;
    padding: 0;
    margin: 0;
}
.nav-menu > .navbar > ul {
    background-color: aquamarine;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
}
.navbar > ul > li {
    list-style-type: none;
}